<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/states">States</a></li>
    <li role="presentation"><a href="/states/new">Add a New State</a></li>
    <li role="presentation"><a href="/posts/about">About</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome to Team Tracker</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
            {{#if states}}
                {{#each states}}
                    <div class="well">
                        <h3>{{name}}</h3>
                        <p><a href="states/{{id}}">view/add team members</a></p>
                        <p><a href="states/{{id}}/delete">Delete this state</a></p>
                    </div>
                {{/each}}
            {{else}}
                <div class="well">
                    <h3>Sorry, no states have been added</h3>
                    <p><a href="/states/new">Add a new one</a></p>
                </div>
            {{/if}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/posts/delete">DELETE ALL STATES</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}