<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/">See All</a></li>
    <li role="presentation"><a href="/states">States</a></li>
    <li role="presentation"><a href="/states/new">Add a New State</a></li>
    <li role="presentation"><a href="/states/:stateId/posts/new">Add a New Team</a></li>
    <li role="presentation"><a href="/posts/about">About</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome to Team Tracker</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/posts/delete">DELETE ALL TEAMS</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}