{{#partial "content"}}
    <p>Team:</p>
    <p>{{post.team}}</p>
    <p>Members:</p>
    <p>{{post.memberToString}}</p>
        <a href="/posts/{{post.id}}/update">Edit this team</a>
    </p>
{{/partial}}
{{> layout.hbs}}